<router-outlet>
  <app-header></app-header>

  


  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink routerLink="/emp-list" routerLinkActive="active">Employee List</a>
      <ng-template ngbNavContent>
          <app-create-employees></app-create-employees>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/create" >Create New Employee</a>
      <ng-template ngbNavContent>
        <app-create-employees></app-create-employees>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>

</router-outlet>